.title{
    font-family: 'Oswald';
    -webkit-text-stroke: 4px black;
}

.dark .title{
    -webkit-text-stroke: white;
}

@media (max-width: 770px) {
    .title{
        -webkit-text-stroke: 2px;
    }
}