.button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: rgb(29 78 216) 0.2em solid;
    border-radius: 30px;
    text-align: right;
    transition: all 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .button:hover {
    background-color: rgb(29 78 216 / 1);
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    display: flex;
    transition: all 0.6s ease;
  }
  
  /* .button:hover svg {
    transform: translateX(5px);
  } */
  
  .text {
    margin: 0 1.5em
  }