@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Oswald";
    color: black;

}

*::-webkit-scrollbar{
    display: none;
}

.video-back{
    display: none;
}

@media (min-width: 300px) {
    
    .video-back{
        display: block
    }
}

@media (min-width: 300px) {
    *{
        color: white;
    }
}